$margin-tb: 12px;
footer{
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    div{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    p{
        margin: $margin-tb 39px $margin-tb 39px;
    }
    .section{
        margin: {
            left: auto;
            right: auto;
        }
    }
}